
.menu li{
	display: inline-block;
}

.logo , menu-container{
	text-align: center;
}

.container{
	max-width: 900px;
	margin: auto;
}

.padre{
	display: flex;
	align-items: center;
}

article{
	border:solid 1px red;
	flex: 1;
}